@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-col: #0f0f0f;
    --sec-bg-col: #161616;
    --text-col: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: visible;
}

body{
    background: var(--bg-col);
    color: var(--text-col);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-col);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}


.navbar a{
    font-size: 1.9rem;
    color: var(--text-col);
    margin-left: 4rem;
    transition: .3s;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 23px;
}

.navbar a.active, .navbar a:hover{
    color: var(--bg-col);
    background-color: var(--text-col);
    padding: 6px 15px;
    font-weight: bold;
    box-shadow: 0 0 0.4rem var(--text-col);
    text-shadow: 0 0 0.1rem var(--bg-col);
}

#menu-icon{
    font-size: 4rem;
    color: var(--text-col);
    display: none;
}

.domů{
    background: var(--sec-bg-col);
    display: flex;
    align-items: center;
    justify-content: center;
}

h3.vitej{
    font-size: 5rem;
    text-align: center;
}

h3.jsme_zu{
    font-size: 6rem;
    text-align: center;
}

h3.text{
    font-size: 2rem;
    text-align: center;
}

.button-d{
    text-align: center;
}

span.invisible-text{
    color: transparent;
}

.logo{
    font-size: 3rem;
    color: var(--text-col);
    font-weight: 600;
    font-weight: bold;
    opacity: 0;
    transform: translateX(-100px);
    animation: shText 1s ease-in-out .2s forwards;
}

nav{
    opacity: 0;
    transform: translateX(100px);
    animation: shNav 1s ease-in-out .2s forwards;
}

@keyframes shText{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shNav{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

span.logo{
    text-shadow: 0 0 0.5rem var(--text-col);
}

span.logo2{
    text-shadow: 0 0 0.4rem var(--text-col);
}

span.circle{
    display: inline-block;
    width: 60px; 
    border-radius: 50%; 
    height: 60px; 
    text-align: center;
    border: 2px solid #fff; 
    margin-right: 5px; 
    line-height: 60px; 
    box-shadow: 0 0 0.5rem var(--text-col);
}

span.star{
    opacity: .4;
}

span.title{
    color: var(--bg);
    text-shadow: 0 0 0.4rem var(--text-col);
}

span.home_zu{
    font-weight: bolder;
    font-size: 8rem;
    text-shadow: 0 0 .8rem var(--text-col);
}

.o-nas-body{
    display: block;
    justify-content: center;
    align-items: center;
}

.o-nas-content p{
    font-size: 1.6rem;
}

.o-nas-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

h3.onas{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;    
}


.sluzby{
    background: var(--sec-bg-col);
}

.sluzby-content{
    margin-top: 10rem;
}

h3.sluzby{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.sluzby-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
}



.gen1, .gen2, .gen3{
    flex: 1;
    max-width: 360px;
    background-color: transparent;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: var(--text-col);
    transition: .4s linear;
    border-radius: 15px;
    border: 2px solid var(--text-col);
}


.sluzba-heading{
    background-color: var(--text-col);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.gen:hover .sluzba-heading{
    box-shadow: 0 0 0 355rem var(--text-col);
}

.gen:hover{
    color: var(--sec-bg-col);
    border-radius: 15px;
    border: none;
}

.gen1:hover{
    border: none;
}

.gen2:hover{
    border: none;
}

.gen3:hover{
    border: none;
}

.gen ul{
    font-size: 2rem;
    padding: 10px 0;
    text-transform: uppercase;
}

ul.nizsi-stupen{
    font-size: 1.5rem;
    opacity: 0.4;
    padding-top: 1.5rem;
}

ul.st_mean{
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sluzba-body{
    margin-top: 3rem;
    padding-bottom: 50px;
    font-weight: 600;
}

h3.title-sluzby{
    color: var(--sec-bg-col);
}

.gen:hover h3.title-sluzby{
    color: var(--text-col);
}

.gen:hover .sluzba-heading{
    background: var(--sec-bg-col);
}




br.little {
    content: "";
    margin: 1em;
    display: block;
    font-size: 24%;
}

button.join_dis{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--text-col);
    border-radius: 4rem;
    border-color: var(--text-col);
    box-shadow: 0 0 1rem var(--text-col);
    transition: .5s ease;
    font-weight: bolder;
    margin-top: 5rem;
    animation: floatBtn 4s ease-in-out infinite;
}

@keyframes floatBtn{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-txt{
    animation: floatTxt 4s ease-in-out infinite;
}

@keyframes floatTxt{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}

.circle1{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: inline-start;
    display: flex;
    justify-content: center;
    align-items: center;
    shape-outside: circle();
}

.circle1 img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.logo_anim img{
    width: 300px;
}


a.dis{
    color: var(--sec-bg-col);
    font-size: 2.6rem;
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-col);
}

.footer-text p{
    font-size: 1.6rem;
    font-weight: bold;
}

.footer-topIcon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--text-col);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-topIcon a:hover{
    box-shadow: 0 0 1rem var(--text-col);
}

.footer-topIcon a i{
    font-size: 2.4rem;
    color: var(--bg-col);
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-col);
    border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}